body {
  color: #2B283A;
  background-color: #0B2434;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  background-color: white;
  padding: 35px;
  max-width: 350px;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main > h2 {
  margin-bottom: 10px;
}

button.dice {
  box-shadow: 0px 2px 2px 0px #00000026;
  width: 35px;
  height: 35px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: none;
  color: #2B283A;
}

button.dice.frozen {
  background-color: #59E391;
}

div.dice-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
}

button.btn-roll {
  color: white;
  background-color: #5035FF;
  border: none;
  padding: 15px 25px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
